*.o
*.out
*.exe
/build/
/cmake-build*/
/Debug/
/Release/
/x64/
/x86/
*.dSYM/
*.gcno
*.gcda
*.gcov
*.log
*.dat
*.dep
*.pdb
/.deps/
/.makedepend/
/vendor/
/packages/
.vscode/
*.suo
*.cproject
*.project
*.workspace
*.settings/
*.swp
Thumbs.db
.DS_Store
ehthumbs.db
Icon?
/.config
/.vs/
/.clangd/
/.idea/
*.DS_Store
*.zip
